@model List<PizzaSharp.Models.Pizza>

@{
    ViewData["Title"] = "Home Page";
}

<head>
    <!-- Custom CSS -->
    <link href="~/css/shop-homepage.css" rel="stylesheet">
</head>

    <!-- Page Content -->
        <div class="row">

            <div class="col-md-10 col-md-offset-1">

                <div class="row carousel-holder">

                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="slide-image" src="~/images/photo1.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="~/images/photo2.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="~/images/photo3.jpg" alt="">
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    @foreach (var pizza in Model)
                    {
                        @Html.Partial("../Pizza/PizzaView", pizza)
                    }
                </div>
                
                <div class="row">
                    <div class="text-right" style="padding-right:15px">
                        <a asp-controller="Pizza" asp-action="Offer" class="btn btn-success">
                            Ponuda
                        </a>
                    </div>
                </div>

            </div>

        </div>
