@model List<PizzaSharp.Models.Order>

@{
    ViewData["Title"] = "Sve narudžbe";
}

<div>
    @foreach (var order in Model)
    {
        <div>
            @Html.Partial("../Cart/OrderView", order)
        </div>
    }        
</div>
