@model List<PizzaSharp.Models.Order>

@{
    ViewData["Title"] = "Sve narudžbe";
}

<link href="~/css/shop-item.css" rel="stylesheet">


<div>
    @foreach (var order in Model)
    {
        <div class="well">
            @Html.Partial("../Cart/OrderView", order)
        </div>
    }        
</div>